name: CI

# Controls when the workflow will run
on:
  schedule:
    - cron: "0 0 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          wget -O support_charts.html https://software.opswat.com/OESIS_V4/Win/docs/support_charts/support_charts.html
          RAW_URL=$(grep -oE 'src="[^"]*raw_json\.js[^"]*"' support_charts.html | head -n1 | cut -d'"' -f2)
          wget "https://software.opswat.com/OESIS_V4/Win/docs/support_charts/${RAW_URL}" -O raw_json.js
          ls -la
          sleep 10
          git add raw_json.js
          git add -A 1>/dev/null 2>/dev/null
          git commit -m "Update soft_db files" --quiet
          git push --quiet
